body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('assets/hotlinebling2.gif');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  font-size: 18px;
  max-height:6100vh;
  overflow-y: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: black;
}

.title{
  background-color: #777;
}
.dancer{
  border:10px solid cornflowerblue;
  border-radius:50%;
  position:absolute;
}
.fat-dancer{
  border-width: 100px;
  margin-left: -45px;
  margin-top: -45px;
}
.dancer, .fat-dancer, .trump-dancer{
 transition: all 6000ms linear;
}
.trump-dancer{
  display: inline-block;
  position: absolute;
  background-image: url('assets/hillary.gif');
  background-size: 140px 200px;
  background-repeat: no-repeat;
  height: 200px;
  width: 140px;
}

#dancefloor{

}

footer {
  width: 100%;
  height: 130px;
  background:rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
}
